[Unit]
Description=Keymaster Custodial Daemon Service Account 1
After=mdip.service

[Service]
WorkingDirectory=/home/mdiphost/kc/custodials/account1
Environment=KC_KEYMASTER_PORT=4240
Type=simple
ExecStart=/usr/bin/docker compose up
User=mdiphost

[Install]
WantedBy=multi-user.target
