upstreams = [ "http://127.0.0.1:4181/" ]

# Email Domains to allow authentication for (this authorizes any email on this domain). To authorize any email addresses use "*"

email_domains = [ "yourdomain.dev" ]

# The OAuth Client ID, Secret
client_secret = "*****************"
client_id = "*****************"

#Cookie Settings
cookie_secret = "********************"
# cookie_domain = ""
# cookie_expire = "168h"
# cookie_refresh = ""
# cookie_secure = true
# cookie_httponly = true
reverse_proxy = true
set_xauthrequest = true
pass_basic_auth = true
pass_user_headers = true
set_authorization_header = true
